<footer class="footer">
 <div class="footer-container container">
  <div class="footer-logo-block">
    <img src="" alt="footer-img" width="355" height="172" >
    
    <a href="./index.html" class="footer-logo link">
     <svg class="foter-logo-icon" width="16" height="16">
       <use href=""></use>
     </svg>
     VEGGIEBOOST
     </a>
  </div>
  
   <ul class="footer-list list">
     <li class="footer-item"><a href="" class="footer-link link">How It Works</a></li>
     <li class="footer-item"><a href="" class="footer-link link">Vegetables</a></li>
     <li class="footer-item"><a href="" class="footer-link link">Contacts</a></li>
   </ul>
  
 <div class="soc-address-block">
    <ul class="footer-soc-list list">
      <li class="footer-soc-item">
        <a href="" class="footer-soc-link link">
        <svg class="footer-soc-icon" width="40" height="40">
        <use></use>
        </svg>
        </a>
      </li>
      <li class="footer-soc-item">
        <a href="" class="footer-soc-link link">
          <svg class="footer-soc-icon" width="40" height="40">
         <use></use>
          </svg>
        </a>
      </li>
      <li class="footer-soc-item">
        <a href="" class="footer-soc-link link">
          <svg class="footer-soc-icon" width="40" height="40">
         <use></use>
          </svg>
        </a>
      </li>
    </ul>
   
    <address class="footer-address">
    <ul class="footer-address-list list">
      <li class="footer-address-item"><a href="tel:+380684439426" class="footer-tel-link link">+380 (68) 443-94-26</a></li>
      <li class="footer-address-item"><a href="" class="footer-address-link link">1678 S.Pioneer Road Salt Lake City UT 84104</a></li>
    </ul>
    </address>
 </div>
 </div>

</footer>
