<header class="header">
  <section class="header-container">
    <div class="header-wrap container">
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-item">
            <a href="#broccoli-1" class="header-nav-link">How It Works</a>
          </li>
          <li class="header-nav-item">
            <a href="#vegetables-types" class="header-nav-link">Vegetables</a>
          </li>
          <li class="header-nav-item">
            <a href="#we-will-call-you" class="header-nav-link">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="header-logo-wrap">
        <a href="./index.html" class="header-logo-link">
          <svg class="header-logo-svg" width="16px" height="16px">
            <use href="./img/icons.svg#logo"></use>
          </svg>
          <span class="header-logo-text">veggieboost</span>
        </a>
      </div>
      <button type="button" class="mobile-menu-btn header-btn js-open-menu">
        <svg class="mobile-menu-btn-svg" width="24px" height="24px">
          <use href="./img/icons.svg#mobile"></use>
        </svg>
      </button>
      <button
        type="button"
        class="header-basket-btn header-btn"
        data-modal-open
      >
        <svg class="header-basket-svg">
          <use href="./img/icons.svg#shopping-cart"></use>
        </svg>
      </button>
      <div class="mob-menu js-menu-container">
        <div class="mob-menu-wraper">
          <button type="button" class="mob-close-btn js-close-menu">
            <svg class="close-icon" width="24" height="24">
              <use href="./img/icons.svg#x-1"></use>
            </svg>
          </button>
          <ul class="mob-menu-list list">
            <li>
              <a
                href="#broccoli-1"
                class="mob-menu-link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >How It Works</a
              >
            </li>
            <li>
              <a
                href="#vegetables-types"
                class="mob-menu-link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >Vegetables</a
              >
            </li>
            <li>
              <a
                href="#we-will-call-you"
                class="mob-menu-link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >Contacts</a
              >
            </li>
          </ul>
          <a
            href="#modal-window"
            target="_blank"
            class="mob-cart-link"
            rel="noopener noreferrer nofollow"
            ><svg class="mob-cart" width="20" height="20">
              <use href="./img/icons.svg#shopping-cart"></use></svg
          ></a>
        </div>
      </div>
    </div>
  </section>
</header>
