<section class="hero">

  <div class="container">
    <!-- DIV: Wrapper -->
    <div class="wrapper">
      <!-- LIST: Hero Users Review List-->
      <ul class="hero-list">
        <!-- ITEM: Hero list item -->
        <li class="hero-list-item">
          <picture class="picture-userpic">
            <source srcset="./img/hero-third-dt.png 1x, ./img/hero-third-dt-2x.png 2x" media="(min-width: 1280px)"
              type="image/png">
            <source srcset="./img/hero-third-tab.png 1x, ./img/hero-third-tab-2x.png 2x" media="(min-width: 768px)"
              type="image/png">
            <source srcset="./img/hero-third-mob.png 1x, ./img/hero-third-mob-2x.png 2x" media="(max-width: 767px)"
              type="image/png">
            <img class="hero-userpic" src="./img/hero-third-mob.png" alt="Avatar">
          </picture>
        </li>
        <!-- ITEM: Hero list item -->
        <li class="hero-list-item">
          <picture class="picture-userpic">
            <source srcset="./img/hero-second-dt.png 1x, ./img/hero-second-dt-2x.png 2x" media="(min-width: 1280px)"
              type="image/png">
            <source srcset="./img/hero-second-tab.png 1x, ./img/hero-second-tab-2x.png 2x" media="(min-width: 768px)"
              type="image/png">
            <source srcset="./img/hero-second-mob.png 1x, ./img/hero-second-mob-2x.png 2x" media="(max-width: 767px)"
              type="image/png">
            <img class="hero-userpic" src="./img/hero-second-mob.png" alt="Avatar">
          </picture>
        </li>
        <!-- ITEM: Hero list item -->
        <li class="hero-list-item">
          <picture class="picture-userpic">
            <source srcset="./img/hero-first-dt.png 1x, ./img/hero-first-dt-2x.png 2x" media="(min-width: 1280px)"
              type="image/png">
            <source srcset="./img/hero-first-tab.png 1x, ./img/hero-first-tab-2x.png 2x" media="(min-width: 768px)"
              type="image/png">
            <source srcset="./img/hero-first-mob.png 1x, ./img/hero-first-mob-2x.png 2x" media="(max-width: 767px)"
              type="image/png">
            <img class="hero-userpic" src="./img/hero-first-mob.png" alt="Avatar">
          </picture>
        </li>
        <!-- ITEM: Hero list item -->
        <li class="hero-list-item list-item-counter">
          <span class="top-counter-text">2K</span>
          <span class="bottom-counter-text">reviews</span>
        </li>
      </ul>
      <h1 class="hero-title">Organic <span>vegetables</span> to your diet today!</h1>
      <p class="hero-text">
        Our expertly curated vegetable baskets are made with the freshest, highest quality vegetables available. Fresh
        Harvest Box has got you covered. Fresh, high-quality vegetables in expertly curated vegetable baskets delivered
        to
        you.
      </p>
      <button class="hero-round-btn btn" type="button" data-modal-open>Shop now</button>
    </div>
    <!-- DIV: Wrapper -->
    <div class="wrapper">
      <picture class="hero-picture">
        <source srcset="./img/dt-girl.png 1x, ./img/dt-girl-2x.png 2x" type="image/png">
        <img class="hero-img" src="./img/dt-girl.png" alt="Woman with lettuce" width="515" height="423">
      </picture>
      <!-- <div class="hero-pic"></div> -->
      <!-- LIST: Teg Buttons Wrap -->
      <div class="hero-btns-wrapper">
        <div class="btns-wrapper-item">
          <button class="hero-btn btn" type="button">#Organic</button>
          <button class="hero-btn btn" type="button">#Products</button>
        </div>
        <div class="btns-wrapper-item">
          <button class="hero-btn btn" type="button">#Basket</button>
          <button class="hero-btn btn" type="button">#Vegetables</button>
        </div>
      </div>
    </div>
  </div>
</section>