<section class="hero container">
  <div class="wrapper">
    <ul class="hero-userpics-list list">
      <li class="userpics-list-item"><img class="hero-userpic" src="" alt="Avatar" width="66" height="66"></li>
      <li class="userpics-list-item"><img class="hero-userpic" src="" alt="Avatar" width="66" height="66"></li>
      <li class="userpics-list-item"><img class="hero-userpic" src="" alt="Avatar" width="66" height="66"></li>
      <li class="userpics-list-item"><img class="hero-userpic" src="" alt="Counter" width="66" height="66"></li>
    </ul>
    <h1 class="hero-title">Organic <span>vegetables</span> to your diet today!</h1>
    <p class="hero-text">
      Our expertly curated vegetable baskets are made with the freshest, highest quality vegetables available. Fresh
      Harvest Box has got you covered. Fresh, high-quality vegetables in expertly curated vegetable baskets delivered to
      you.
    </p>
    <button class="hero-round-button button" type="button">Shop now</button>
  </div>
  <div class="wrapper">
    <img class="hero-img" alt="Woman with lettuce" width="515" height="423">
    <ul class="hero-buttons-list list">
      <li class="buttons-list-item"><button class="hero-button button" type="button">#Organic</button></li>
      <li class="buttons-list-item"><button class="hero-button button" type="button">#Products</button></li>
      <li class="buttons-list-item"><button class="hero-button button" type="button">#Basket</button></li>
      <li class="buttons-list-item"><button class="hero-button button" type="button">#Vegetables</button></li>
    </ul>
  </div>
</section>