<section id="broccoli-1" class="how-it-works-first-section">
  <div class="how-it-works-first-container">
    <div class="works-fix">
      <h2 class="how-it-works-first-title">
        To order your vegetable basket, simply follow these easy steps
      </h2>

      <div>
        <picture>
          <source
            srcset="./img/dt-broccoli.png 1x, ./img/dt-broccoli-2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/tab-broccoli.png 1x, ./img/tab-broccoli-2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/mob-broccoli.png 1x, ./img/mob-broccoli-2x.png 2x"
            media="(max-width: 767px)"
          />
          <img
            class="how-it-works-first-image"
            src="./img/dt-broccoli.png"
            alt="broccoli"
          />
        </picture>
      </div>
    </div>
    <div class="works-fix">
      <p class="how-it-works-first-text-1">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <p class="how-it-works-first-text-2">
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </p>
    </div>
  </div>
</section>
