<section class="how-it-works2">
  <div class="container how-it-works2-container">
    <div class="bg-container">
      <div class="section-text-content">
        <div class="section-text-content-wrap">
          <h2 class="how-it-works2-title">
            3 Easy Steps for Buying Fresh Vegetables
          </h2>

          <ul class="number-list">
            <li class="number-list-item">
              <div class="number-item">
                <span class="number">1</span>
              </div>
              <p class="how-it-works2-text">
                Just choose the vegetable you want to order by clicking on the
                checkboxes next to it.
              </p>
            </li>

            <li class="number-list-item">
              <div class="number-item">
                <span class="number">2</span>
              </div>
              <p class="how-it-works2-text second-item-text">
                Click on the basket and fill out the form.
              </p>
            </li>

            <li class="number-list-item">
              <div class="number-item">
                <span class="number">3</span>
              </div>
              <p class="how-it-works2-text">
                Sit back and relax! Your fresh vegetables basket will be
                delivered.
              </p>
            </li>
          </ul>
        </div>
      </div>

      <picture>
        <source
          srcset="./img/dt-child.png 1x, ./img/dt-child-2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./img/tab-child.png 1x, ./img/tab-child-2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/mob-child.png 1x, ./img/mob-child-2x.png 2x"
          media="(max-width: 767px)"
        />

        <img class="child-img" src="./img/dt-child.png" alt="child" />
      </picture>
    </div>
  </div>
</section>
