<section class="how-it-works-first-section">
  <div class="how-it-works-first-container">
    <h2 class="how-it-works-first-title">
      To order your vegetable basket, simply follow these easy steps
    </h2>
    <img src="./img/vegetables1x.png" alt="broccoli" width="335" height="158" />
    <p class="how-it-works-first-text-1">
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home.
    </p>
    <p class="how-it-works-first-text-2">
      Whether you're looking for a healthy snack or a thoughtful gift, our fruit
      baskets are the perfect choice.
    </p>
  </div>
</section>
