<!-- ДОБАВИТИ IS-HIDDEN -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal-container">
    <button type="button" class="btn-menu-close" data-modal-close>
      <svg class="icon-modal-btn" width="28" height="28">
        <use href="./img/icons.svg#x-1"></use>
      </svg>
    </button>

    <p class="text-modal-order">Your order</p>
    <div class="order-container">
      <ul class="list-order list">
        <li class="list-order-item">
          <div class="modal-card-wrapper">
            <input
              type="checkbox"
              class="modal-input-checkbox visually-hidden"
              name="user-order"
              id="user-order-cabbage"
              value="true"
            />
            <label for="user-order-cabbage" class="checkbox-label">
              <span class="span-check">
                <svg class="icon-check" width="10" height="10">
                  <use href="./img/icons.svg#pick"></use>
                </svg>
              </span>

              <h2 class="order-item-title">Cabbage Basket</h2>
              <p class="order-item-descr">Plant</p>
              <img
                srcset="
                  ./img/dt-cabbage-modal.png,
                  ./img/dt-cabbage-modal-2x.png
                "
                src="./img/dt-cabbage-modal.png"
                alt="A basket of cabbage"
                width="172"
                height="142"
                class="modal-card-pic"
              />
            </label>
          </div>
        </li>

        <li class="list-order-item">
          <div class="modal-card-wrapper">
            <input
              type="checkbox"
              class="modal-input-checkbox visually-hidden"
              name="user-order"
              id="user-order-tomato"
              value="true"
            />
            <label for="user-order-tomato" class="checkbox-label">
              <span class="span-check">
                <svg class="icon-check" width="10" height="10">
                  <use href="./img/icons.svg#pick"></use>
                </svg>
              </span>

              <h2 class="order-item-title">Tomato Basket</h2>
              <p class="order-item-descr">Plant</p>
              <img
                srcset="./img/dt-tomato-modal.png, ./img/dt-tomato-modal-2x.png"
                src="./img/dt-tomato-modal.png"
                alt="A basket of tomato"
                width="172"
                height="142"
                class="modal-card-pic"
              />
            </label>
          </div>
        </li>

        <li class="list-order-item">
          <div class="modal-card-wrapper">
            <input
              type="checkbox"
              class="modal-input-checkbox visually-hidden"
              name="user-order"
              id="user-order-vegetables"
              value="true"
            />
            <label for="user-order-vegetables" class="checkbox-label">
              <span class="span-check">
                <svg class="icon-check" width="10" height="10">
                  <use href="./img/icons.svg#pick"></use>
                </svg>
              </span>

              <h2 class="order-item-title">Vegetables Basket</h2>
              <p class="order-item-descr">Plant</p>
              <img
                srcset="
                  ./img/dt-vegetables-basket-modal.png,
                  ./img/dt-vegetables-basket-modal-2x.png
                "
                src="./img/dt-vegetables-basket-modal.png"
                alt="A basket of green vegetables"
                width="172"
                height="142"
                class="modal-card-pic"
              />
            </label>
          </div>
        </li>
      </ul>

      <div class="form-container">
        <form class="modal-form"></form>
        <div class="input-wrapper">
          <input
            type="text"
            name="user-name"
            id="user-name"
            class="modal-input"
            placeholder="Enter full name..."
          />
        </div>
        <div class="input-wrapper">
          <input
            type="email"
            name="user-email"
            id="user-email"
            class="modal-input"
            placeholder="Enter email..."
          />
        </div>
        <div class="input-wrapper">
          <input
            type="text"
            name="user-card"
            id="user-card"
            class="modal-input"
            placeholder="Enter card..."
          />
        </div>
        <div class="input-wrapper">
          <textarea
            name="user-comment"
            id="user-comment"
            class="textarea-input"
            placeholder="Enter comments..."
          ></textarea
          ><button type="submit" class="btn-submit">Submit</button>
        </div>
      </div>
      <img
        srcset="./img/girl-modal-window.png, ./img/girl-modal-window-2x.png"
        src="./img/girl-modal-window.png"
        alt=""
        width="444"
        height="413"
        class="modal-pic"
      />
    </div>
  </div>
</div>
