<div>
  <svg class="svg" width="32" height="32">
    <use href="./img/icons.svg#facebook"></use>
  </svg>

  <svg class="svg" width="32" height="32">
    <use href="./img/icons.svg#instagram"></use>
  </svg>

  <svg class="svg" width="32" height="32">
    <use href="./img/icons.svg#youtube"></use>
  </svg>

  <svg class="svg" width="32" height="32">
    <use href="./img/icons.svg#aroow"></use>
  </svg>

  <svg class="svg" width="32" height="32">
    <use href="./img/icons.svg#mobile"></use>
  </svg>

  <svg class="svg" width="32" height="32">
    <use href="./img/icons.svg#shopping-cart"></use>
  </svg>

  <svg class="svg" width="32" height="32">
    <use href="./img/icons.svg#pick"></use>
  </svg>

  <svg class="svg" width="32" height="32">
    <use href="./img/icons.svg#logo"></use>
  </svg>
</div>
