<section class="vegetables-section">
  <div class="section-container">
    <h2 class="section-title">ORGANIC VEGETABLES</h2>
    <p class="section-description">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>

    <ul class="vegetables-list">
      <li class="vegetables-card">
        <h3 class="card-name">Carrot</h3>
        <p class="card-discription">Plant</p>
        <img src="#" alt="Carrot" width="299" height="249" />
        <p class="price">100 UAH / kg</p>
      </li>
      <li class="vegetables-card">
        <h3 class="card-name">Brussel sprouts</h3>
        <p class="card-discription">Plant</p>
        <img src="#" alt="Brussel aprouts" width="299" height="249" />
        <p class="price">80 UAH / kg</p>
      </li>
      <li class="vegetables-card">
        <h3 class="card-name">Tomato</h3>
        <p class="card-discription">Plant</p>
        <img src="#" alt="Tomato" width="299" height="249" />
        <p class="price">40 UAH / kg</p>
      </li>
      <li class="vegetables-card">
        <h3 class="card-name">Eggplant</h3>
        <p class="card-discription">Plant</p>
        <img src="#" alt="Eggplant" width="299" height="249" />
        <p class="price">60 UAH / kg</p>
      </li>
      <li class="vegetables-card">
        <h3 class="card-name">Sweet potatoes</h3>
        <p class="card-discription">Plant</p>
        <img src="#" alt="Sweet potatoes" width="299" height="249" />
        <p class="price">80 UAH / kg</p>
      </li>
      <li class="vegetables-card">
        <h3 class="card-name">Leek</h3>
        <p class="card-discription">Plant</p>
        <img src="#" alt="Leek" width="299" height="249" />
        <p class="price">50 UAH / kg</p>
      </li>
      <li class="vegetables-card">
        <h3 class="card-name">Mushrooms</h3>
        <p class="card-discription">Plant</p>
        <img src="#" alt="Mushrooms" width="299" height="249" />
        <p class="price">40 UAH / kg</p>
      </li>
      <li class="vegetables-card">
        <h3 class="card-name">Corn</h3>
        <p class="card-discription">Plant</p>
        <img src="#" alt="Corn" width="299" height="249" />
        <p class="price">60 UAH / kg</p>
      </li>
      <li class="vegetables-card">
        <h3 class="card-name">Radish</h3>
        <p class="card-discription">Plant</p>
        <img src="#" alt="Radish" width="299" height="249" />
        <p class="price">90 UAH / kg</p>
      </li>
    </ul>

    <button type="button" class="order-button">
      <svg class="button-icon" width="14" height="14">
        <use href="#"></use>
      </svg>
      <span class="button-span">Order</span>
    </button>
  </div>
</section>
