<section id="vegetables-types" class="vegetables-section">
  <div class="container">
    <h2 class="section-title">ORGANIC VEGETABLES</h2>
    <p class="section-description">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>

    <ul class="vegetables-list">
      <li class="vegetables-card">
        <div class="card-box carrot">
          <h3 class="card-name">Carrot</h3>
          <p class="card-discription">Plant</p>
        </div>
        <picture>
          <source
            srcset="./img/carrot.png 1x, ./img/carrot-2x.png 2x"
            media="(min-width: 768px)"
          />

          <source
            srcset="./img/mob-carrot.png 1x, ./img/mob-carrot-2x.png 2x"
            media="(max-width: 767px)"
          />
          <img class="vegetables-img" src="./img/carrot.png" alt="Carrot" />
        </picture>
        <p class="price">100 UAH / kg</p>
      </li>

      <li class="vegetables-card">
        <div class="card-box">
          <h3 class="card-name">Brussel sprouts</h3>
          <p class="card-discription">Plant</p>
        </div>
        <picture>
          <source
            srcset="./img/brussel.png 1x, ./img/brussel-2x.png 2x"
            media="(min-width: 768px)"
          />

          <source
            srcset="./img/mob-brussel.png 1x, ./img/mob-brussel-2x.png 2x"
            media="(max-width: 767px)"
          />
          <img
            class="vegetables-img"
            src="./img/brussel.png"
            alt="Brussel sprouts"
          />
        </picture>
        <p class="price">80 UAH / kg</p>
      </li>

      <li class="vegetables-card">
        <div class="card-box">
          <h3 class="card-name">Tomato</h3>
          <p class="card-discription">Plant</p>
        </div>

        <picture>
          <source
            srcset="./img/tomato.png 1x, ./img/tomato-2x.png 2x"
            media="(min-width: 768px)"
          />

          <source
            srcset="./img/mob-tomato.png 1x, ./img/mob-tomato-2x.png 2x"
            media="(max-width: 767px)"
          />
          <img class="vegetables-img" src="./img/tomato.png" alt="Tomato" />
        </picture>
        <p class="price">40 UAH / kg</p>
      </li>

      <li class="vegetables-card">
        <div class="card-box">
          <h3 class="card-name">Eggplant</h3>
          <p class="card-discription">Plant</p>
        </div>

        <picture>
          <source
            srcset="./img/eggplant.png 1x, ./img/eggplant-2x.png 2x"
            media="(min-width: 768px)"
          />

          <source
            srcset="./img/mob-eggplant.png 1x, ./img/mob-eggplant-2x.png 2x"
            media="(max-width: 767px)"
          />
          <img
            class="vegetables-img"
            src="./img/eggplant.png"
            alt="Eggplanto"
          />
        </picture>
        <p class="price">60 UAH / kg</p>
      </li>

      <li class="vegetables-card">
        <div class="card-box">
          <h3 class="card-name">Sweet potatoes</h3>
          <p class="card-discription">Plant</p>
        </div>

        <picture>
          <source
            srcset="./img/potatoes.png 1x, ./img/potatoes-2x.png 2x"
            media="(min-width: 768px)"
          />

          <source
            srcset="./img/mob-potatoes.png 1x, ./img/mob-potatoes-2x.png 2x"
            media="(max-width: 767px)"
          />
          <img
            class="vegetables-img"
            src="./img/potatoes.png"
            alt="Sweet potatoes"
            width="299"
          />
        </picture>
        <p class="price">80 UAH / kg</p>
      </li>

      <li class="vegetables-card">
        <div class="card-box">
          <h3 class="card-name">Leek</h3>
          <p class="card-discription">Plant</p>
        </div>

        <picture>
          <source
            srcset="./img/leek.png 1x, ./img/leek-2x.png 2x"
            media="(min-width: 768px)"
          />

          <source
            srcset="./img/mob-leek.png 1x, ./img/mob-leek-2x.png 2x"
            media="(max-width: 767px)"
          />
          <img class="vegetables-img" src="./img/leek.png" alt="Leek" />
        </picture>
        <p class="price">50 UAH / kg</p>
      </li>

      <li class="vegetables-card">
        <div class="card-box">
          <h3 class="card-name">Mushrooms</h3>
          <p class="card-discription">Plant</p>
        </div>

        <picture>
          <source
            srcset="./img/mushrooms.png 1x, ./img/mushrooms-2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/mob-mushrooms.png 1x, ./img/mob-mushrooms-2x.png 2x"
            media="(max-width: 767px)"
          />
          <img
            class="vegetables-img"
            src="./img/mushrooms.png"
            alt="Mushrooms"
          />
        </picture>
        <p class="price">40 UAH / kg</p>
      </li>

      <li class="vegetables-card">
        <div class="card-box">
          <h3 class="card-name">Corn</h3>
          <p class="card-discription">Plant</p>
        </div>
        <picture>
          <source
            srcset="./img/corn.png 1x, ./img/corn-2x.png 2x"
            media="(min-width: 768px)"
          />

          <source
            srcset="./img/mob-corn.png 1x, ./img/mob-corn-2x.png 2x"
            media="(max-width: 767px)"
          />
          <img class="vegetables-img" src="./img/corn.png" alt="Corn" />
        </picture>
        <p class="price">60 UAH / kg</p>
      </li>

      <li class="vegetables-card radish-card">
        <div class="card-box">
          <h3 class="card-name">Radish</h3>
          <p class="card-discription">Plant</p>
        </div>

        <picture>
          <source
            srcset="./img/radish.png 1x, ./img/radish-2x.png 2x"
            media="(min-width: 1280px)"
          />
          <img class="vegetables-img" src="./img/radish.png" alt="Raddish" />
        </picture>
        <p class="price">90 UAH / kg</p>
      </li>
    </ul>

    <button type="button" class="order-button" data-modal-open>
      <svg class="button-icon" width="14" height="14">
        <use href="./img/icons.svg#aroow"></use>
      </svg>
      <span class="button-span">Order</span>
    </button>
  </div>
</section>
