<section class="we-will-call-you">
  <div>
    <h2 class="mob-callback-title">Fresh Harvest Box has got you covered</h2>
    <p class="mob-callback-body">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
  </div>
  <div class="mob-modal-field">
    <label for="user-tel" class="input-label"></label>
    <div class="input-wrap">
      <input
        type="tel"
        name="user-tel"
        id="user-tel"
        placeholder="+ 380 ()"
        class="modal-input"
      />
      <button class="button-recall">Recall</button>
    </div>
  </div>
  <img
    class="team-img"
    srcset="./images/Mark-Guerrero@1x.jpg 1x, ./images/Mark-Guerrero@2x.jpg 2x"
    src="./images/Mark-Guerrero@1.jpg"
    alt="Mark Guerrero"
    width="264"
    height="260"
  />
</section>
