.footer {
background: #EAF7E5;

}

.footer-container {
padding-top: 80px;
padding-bottom: 80px;
}

.footer-logo-block{
display: flex;
flex-wrap: wrap;
margin-bottom: 40px;


}

.footer-logo {
  color: #141414;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.56px;
  display: inline-block;
  margin: 0 auto;

}

.foter-logo-icon {
}

.footer-list {
display: flex;
gap: 20px;
justify-content: center;
}


.footer-item {

}
.footer-link {
  color: #141414;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;

}

.soc-address-block {
}

.footer-soc-list {
}

.footer-soc-item {
}

.footer-soc-link {
}

.footer-soc-icon {
}

.footer-address {
}

.footer-address-list {
text-align: center;
}

.footer-address-item {

}

.footer-tel-link{
  color: #141414;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
}

.footer-address-link {
  color: #141414;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;

  display: block;
  max-width: 135px;
  margin: 0 auto;
  margin-top: 20px;
  
}