.footer {
background: #EAF7E5;

}

.footer-container {
padding-top: 80px;
padding-bottom: 80px;
}

.footer-logo-block{
display: flex;
flex-wrap: wrap;
margin-bottom: 40px;
justify-content: center;
gap: 20px;


}


.footer-logo {
  color: #141414;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.56px;
  display: flex;
  justify-content: center;
  margin: 0 auto;

}

.foter-logo-icon {
padding-right: 8px;
}

.footer-list {
display: flex;
gap: 20px;
justify-content: center;
}


.footer-item {

}
.footer-link {
  color: #141414;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;

}

.soc-address-block {
margin-top: 40px;
}

.footer-soc-list {
display: flex;
gap: 20px;
justify-content: center;
margin-bottom: 40px;
}

.footer-soc-item {
width: 40px;
height: 40px;
border-radius: 10px;
border: 1px solid #141414;
}

.footer-soc-link {
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.footer-soc-icon {
fill: #141414;
}

.footer-address {
}

.footer-address-list {
text-align: center;
}

.footer-address-item {

}

.footer-tel-link{
  color: #141414;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
}

.footer-address-link {
  color: #141414;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;

  display: block;
  max-width: 135px;
  margin: 0 auto;
  margin-top: 20px;
}

/* ___________media____________ */

@media screen and (min-width:768px) and (max-width:1279px){
.footer-container{
display: flex;
}

.footer-upper{
max-width: 349px;
}

  .footer-logo-block{
display: block;
max-width: 349px;
}

.footer-logo{
margin-top: 20px;
}

.footer-list{
justify-content: center;
}

.soc-address-block{
margin-top: 0;
margin-left: auto;
}

.footer-address-list{
text-align: start;
}

.footer-address-link{
width: 173px;
margin-left: 0;
}




}