.how-it-works2 {
 
  margin-left: auto;
  margin-right: auto;
}

.bg-container {
  background-color: var(--secondary-background-color);
  border-radius: 40px;
  background-image: url(../img/mob-bg-child.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .bg-container {
    background-image: url(../img/mob-bg-child-2x.png);
  }
}

.how-it-works2-title {
  text-shadow: var(--shadow-text);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.number-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.number-list-item {
  display: flex;
  gap: 14px;
  align-items: center;
}

.section-text-content {
  margin-bottom: 20px;
}

.how-it-works2-text {
  text-shadow: var(--shadow-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.56px;
  max-width: 199px;
}

.second-item-text {
  max-width: 166px;
}

.number-item {
  width: 40px;
  height: 40px;
}

.number {
  width: 100%;
  height: 100%;

  background-color: #a1c487;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child-img {
  width: 258px;

  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 374px) {
  .number-list-item {
    gap: 5px;
  }

    .second-item-text {
      max-width: none;
    }



 
}

/*-----Tablet-------*/

@media screen and (min-width: 768px) {
 

  .bg-container {
    
    position: relative;
    border-radius: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(../img/tab-bg-child.png);
    display: flex;
    flex-direction: row-reverse;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .bg-container {
      background-image: url(../img/tab-bg-child-2x.png);
    }
  }
  .section-text-content {
    margin-bottom: 0;
  }

  .how-it-works2-text {
    letter-spacing: -0.56px;
  }

  .how-it-works2-title {
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -1.12px;
    max-width: 274px;
  }

  .child-img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 350px;
    margin-top: 0;
  }
}

/*-----DT-------*/

@media screen and (min-width: 1280px) {
 
  .bg-container {
    
    background-image: url(../img/dt-bg-child.png);
    display: flex;
    flex-direction: row-reverse;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .bg-container {
      background-image: url(../img/dt-bg-child-2x.png);
    }
  }

 

  .section-text-content-wrap {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 48px;
  }

  .how-it-works2-title {
    max-width: 512px;
    font-size: 40px;

    line-height: 1.1;
    letter-spacing: -1.6px;
    margin-bottom: 40px;
  }

  .how-it-works2-text {
    max-width: 289px;
  }

  .child-img {
    width: 434px;
    bottom: 0;
    left: 80px;
  }
}
